#wrapper {
	background-image: url("../images/canigou2.jpg");
	height: 650px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 275px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.spacer{
	height: 8em;
}
.navbar-transparent {
	background-color: rgba(255, 255, 255, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: grey;
  line-height: 20px;
}
  
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: black;
}

#wrapper h1 {
	font-size: 80px;
}

.etiquette {
	font-size: 120px;
	color: white;
	padding-top: 240px;
}